<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing month</h1>

  <%# <%= render "form", month: @month %1> %>

  <%# <%= link_to "Show this month", @month, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %1> %>
  <%# <%= link_to "Back to months", months_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %1> %>
</div>
