<nav class="w-full flex px-12 py-6 bg-white fixed top-0 left-0 drop-shadow-md z-50 justify-between items-center">
  <%= link_to "Planerino", path ||= years_path, class: "text-2xl text-blue-700 font-medium" %>

  <% if current_user %>
    <div class="flex items-center gap-5 font-medium text-lg">
      Usuário ativo: <%= current_user.email.split('@')[0] %>
      <%= link_to destroy_user_session_path, data: {"turbo-method": :delete } do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><title>37-User</title><g id="_37-User" data-name="37-User"><path d="M10,10V8A6,6,0,0,1,22,8v2a1,1,0,0,0,1,1v2h2V11a2,2,0,0,0-1-1.73V8A8,8,0,0,0,8,8V9.27A2,2,0,0,0,7,11v2a2,2,0,0,0,1,1.75,8.07,8.07,0,0,0,4,6.16v1.39L4.7,25c-.91.23-4.7,1.37-4.7,4v2a1,1,0,0,0,1,1H15V30H2V29c0-.78,1.92-1.7,3.24-2l.11,0,8-3A1,1,0,0,0,14,23V20.31a1,1,0,0,0-.57-.9A6,6,0,0,1,10,14a1,1,0,0,0-1-1V11A1,1,0,0,0,10,10Z"/><path d="M31.71,22.29l-3-3-1.41,1.41L28.59,22H21v2h7.59l-1.29,1.29,1.41,1.41,3-3A1,1,0,0,0,31.71,22.29Z"/><path d="M23,27a1,1,0,0,1-1,1H19V18h3a1,1,0,0,1,1,1v1h2V19a3,3,0,0,0-3-3H18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h4a3,3,0,0,0,3-3V26H23Z"/></g></svg>
      <% end %>
    </div>
  <% end %>
</nav>
