<div class="w-full flex flex-row items-center mb-10">
  <div>
    <h1 class="text-3xl mb-4"><%= title %></h1>

    <%= link_to button_text, path, class: "bg-blue-700 p-2 rounded-xl text-white" %>
  </div>
</div>
